# Values: https://github.com/Mario-F/helm-charts/blob/main/charts/cert-manager-webhook-hetzner/values.yaml
---
{{- $config := .Values | get "cert-manager-webhook-hetzner" }}
{{- $prometheusMonitoring := .Values | get "global-config.prometheus.enabled" false }}
{{- $hetznerDnsToken := .Values | get "global-config.hetzner.dnsToken" $config.token }}
{{- $acmeEmail := .Values | get "global-config.email" $config.email }}

hetzner:
  token: {{ $hetznerDnsToken }}
  email: {{ $acmeEmail }}
